<p>product-list works!</p>

<a class="btn btn-primary" > Ver todas las categorías </a>
<a class="btn btn-primary" > Ver todos los tipos de producto disponible </a>

<table class="table table-striped">
	<thead>
		<tr>
      <th scope="col">Imagen</th>
			<th scope="col">Nombre</th>
			<th scope="col">Descripción</th>
			<th scope="col">Precio</th>
      <th scope="col">URL</th>
			<th scope="col">Stock</th>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let product of products">
        <td><img class="img-thumbnail img-fluid" width="300" [src]="product.image" alt=""></td>
				<th scope="row">{{product.name}}</th>
				<td>{{product.description}}</td>
				<td>{{product.price | currency}}</td>
        <td>{{product.url}}</td>
        <td><span class="badge text-bg-warning" *ngIf="product.stock==0"> SIN STOCK </span></td>
        <td>
          <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
          Cantidad: {{product.quantity}}
        </td>
        <td>
          <button class="btn btn-primary" (click)="addToCart(product)">Comprar</button>
        </td>
				<td><a class="btn btn-secondary" href="tienda/product/{$product->id_product}/{$product->name}"> VER EL PRODUCTO </a></td>
			</tr>
	</tbody>
</table>

<a class="btn btn-primary" href="home"> VOLVER </a>
