<p>Todos los productos publicados acá están realmente en venta en la página de cada rescatista!</p>
<p>Los precios están actualizados!</p>



<table class="table table-striped">
	<thead>
		<tr>
      <th scope="col">Imagen</th>
			<th scope="col">Nombre</th>
			<th scope="col">Descripción</th>
			<th scope="col">Precio</th>
      <th scope="col">URLLLLLLLLLL</th>
			<th scope="col">Stock</th>
      <th scope="col">Cantidaaad</th>
      <th scope="col"></th>
      <th scope="col"></th>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let product of products">
        <td><img class="img-thumbnail img-fluid" width="300" [src]="product.image" alt=""></td>
				<th scope="row">{{product.name}}</th>
				<td>{{product.description}}</td>
				<td>{{product.price | currency}}</td>
        <td><a [href]="product.url" target="_blank">LINK PARA COMPRAR DE VERDAD</a></td>
        <td><span class="badge text-bg-warning" *ngIf="product.stock==0"> SIN STOCK </span></td>
        <td>
          <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
        </td>
        <td>
          <button class="btn btn-danger" (click)="addToCart(product)">Comprar</button>
        </td>
				<td><a class="btn btn-danger" href="tienda/product/{$product->id_product}/{$product->name}"> VER EL PRODUCTO </a></td>
			</tr>
	</tbody>
</table>

<a class="btn btn-danger" href="home"> VOLVER </a>
