<section class="">
  <div class="">
    <h1> AMOR A <span class="titulo-rojo">PRIMERA VISTA</span></h1>
    <p>Vas a saber que es el próximo miembro de tu familia con sólo mirarlo</p>
    <p>¡Adoptá y salvá una vida!</p>
    <a href="adoptions"> <button class="btn"> Ver perritos en adopción</button> </a>
 </div>
</section>

<section class="">
  <h2>Nuestra misión</h2>
  <h3>¿Sabías que de cada 10 cachorros que nacen hay 9 que nunca tendrán un hogar?</h3>
  <h3>¿Sabías que según un estudio que hizo el Colegio de Veterinarios de la Provincia de Buenos Aires en el 2018 hay unos 6 millones de perros y gatos viviendo en las calles bonaerenses ya sea porque nunca tuvieron hogar o porque han sido abandonados? </h3>
  <p>¡Nosotras sí! Por eso la finalidad de este sitio es ser un nexo entre los rescatistas y los adoptantes! Brindándoles toda la info de los perritos disponibles por cada rescatista o persona particular que esté dando perritos en adopción. Para aportar nuestro granito de arena para que ese número pueda ser cada días más chico.</p>
  <p>¡Por eso adoptá! Y si no podés adoptar hay muchas cosas que se pueden hacer para ayudar a los rescatistas desde el tránsito, voluntariado, las donaciones o la difusión de las mascotas que están en adopción.</p>
  <p>Los perritos publicados en la sección de "En adopción" se encuentran TODOS ¡realmente en adopción!</p>
</section>

<section class="">
  <div class="">
      <h2> Visita nuestra tienda </h2>
      <a href="store"> <button class="btn">IR A LA TIENDA </button> </a>
  </div>
</section>

<section class="">
  <h2>CONTACTANOS</h2>
  <p>¿Tenés algún perrito para dar en adopción? ¿Te interesa algun perrito publicado? ¿Tenés alguna sugerencia para nuestro sitio? </p>
  <p>¡Escribinos!</p>
  <a href="about"> <button class="btn"> Contacto </button></a>

</section>
